/* Initial format*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*Import text fonts*/
/*@import url('https://fonts.googleapis.com/css?family=Eplilogue');

/* General content styles */
body {
    font-family: 'Eplilogue';
    font-size: 1.1em;
}

main {
    padding: 1rem;
}

:root {
    --main-background: white;
    --orange: #FB7126;
    --blue: #33A99A;
    --danger: ##DE3B40;
    --text-black: black;
    --text-gray: gray;
}

/*Navigation bar for laptop and big screens*/
#navBigScreen {
    background-color: var(--main-background);
    overflow: hidden;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    color:var(--text-black);
}

#navBigScreen>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 5;
}

#navBigScreen a {
    color: var(--text-black);
    padding: 0 20px;
}

#navBigScreen img {
    height: 60px;
}

/*Navigation bar for pads and phones*/
#navSmallScreen {
display: flex;
justify-content: space-around;
align-items: center;
    overflow: hidden;
    background-color: var(--main-background);
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 10px;
}

#navSmallScreen img {
    height: 40px;
}

#navSmallScreen #navLinksSmallScreen {
    display: none;
}

#navSmallScreen a {
    color: var(--text-black);
    text-decoration: none;
    font-size: 17px;
}

#navSmallScreen a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#navSmallScreen a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: var(--text-gray);
    color: white;
}
/* Styles for Tool Bar in templates page */
.toolBar {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 1rem;
}

.btnIcon {
    background-color: rgb(146, 147, 148);
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    /* Mouse pointer on hover */
    border-radius: 4px;
}

.btnIcon:hover {
    background-color: #8f8c8c;
}

/*Tooltip styles */
.toolTip {
    position: relative;
    display: inline;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 20%;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

/* Styles for Template Preview in templates page*/
.templatePreview {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3); 
}

/*Styles for restaurant container*/
#restaurantCards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 1rem;   
}
.restaurantCard {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.restaurantCard img {
    width:100%;
    height: 300px;
    object-fit: cover;
}

.categoria {
    background-color: #8f8c8c;
    text-transform: uppercase;
    font-size: small;
    color: white;
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 4px;
}

/*All media query */

/*Media query for Nav bar*/
@media only screen and (max-width: 600px) {
    #navBigScreen {
        display: none;
    }

    .templatesContainer {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width:601px) {
    #navSmallScreen {
        display: none;
    }

    main {
        margin-top: 60px;
    }
}