*{font-family: 'Inter', sans-serif;}

:root{
    --primary-color: #84b732;
    --input-color: #f0f5fa;
    --background-color: #e4e6ea;
    --background-color-2: #121223;
    --text-color-2: #a0a5ba;
    --text-color-3: #a0a5ba;
    
    --button-font: 16px 
}

/* -------------------------------------
375 width x 812 height - medidas movil
768 width x 1024 height - modo tablet

Border-radius: 20px
-------------------------------------*/

